
{{>homepage}}

<div class="w3-container w3-responsive w3-display-topmiddle w3-opacity w3-border-blue news " style = "margin-top:10%;overflow-y:auto;height:auto">
<h2>Login</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="email-login">Email:</label>
  </div>
  <div>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    </div>
    <div>
    <input class="form-input" type="password" id="password-login" />
  </div><br>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
  <div class="form-group">
   <a class="navbar-brand" href="/signup">Signup instead</a>
  </div>
</form>
</div>

<script src="/js/login.js"></script>