{{>homepage}}


<div class="w3-container w3-responsive w3-display-topmiddle w3-opacity w3-border-blue news " style = "margin-top:10%;overflow-y:auto;height:70%;width:70%">

<form class="new-post-form" >
    <div>
      <label for="post-title">Name </label>
    </div>
    <div>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="Name" required/>
    </div>
    <div>
      <label for="post-content">Description:</label>
    </div>
    <div>
      <textarea class="post-content" id="post-content"  style="width:100%" name="post-content" placeholder="Post Description" required></textarea>
    </div><br>
   <button type="submit" class="button is-primary is-pulled-right">ADD POST</button><br>
  
  </form>
</section>
</div>
</div>
<!--
<script src="/js/addevent.js"></script>
-->

<script src="/js/addblogpost.js"></script>
