{{>homepage}}


<div class="w3-container w3-responsive w3-display-topmiddle w3-opacity w3-border-blue news " style = "margin-top:10%;overflow-y:autol;height:auto">
<h2>New User Signup Form</h2>
<form class="form login-form">
<!--<div id="id01" class="modal">-->
 
  <!--<form class="modal-content" >-->
    <div class="container">
      <p>Please fill in this form to create an account.</p>
      <hr>
   <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="name" id="name-signup" required>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email-signup" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw"  id="password-signup" required>

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" id = "passwordR-signup" required>
     

      <div class="clearfix">
    
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
</div>
</div>
</div>


<script src="/js/signup.js"></script>